{% extends 'base.html' %}
{% block title %}{{ contact.name }}{% endblock %}
{% block content %}
<a href="{% url 'contact_list' %}">Contact list</a>
<h2>{{ contact.name }} <strong><a class="btn btn-primary" href="tel:{{contact.phone}}">call</a></h2>
  <p><strong>Status:</strong> {{ contact.get_status_display }}</p>
<p><strong>Employer:</strong> {{ contact.employer_name }}</p>
<p><strong>Employement number:</strong> {{ contact.employment_number }}</p>
<p><strong>Id number:</strong> {{ contact.id_number }} </p>

{% include 'contacts/interactions_list.html' %}

{% endblock %}